/* DESIGN DA PRÉVIA DOS MARCADORES */
.iw-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 15px;
}
.gm-style-iw {
  width: 200px !important;
   top: 15px !important; // mover a infowindow 15px para baixo
   left: 0 !important;
   background-color: #fff;
   border-radius: 4px 4px 4px 4px;
   border: 1px solid #c2c2c2;
}
#iw-container img.img-publicacao {
  width: 100%;
}
.qtdApoiadores {
  text-align: right;
  float: right;
}
.qtdApoiadores{
  font-weight: bold;
}
.apoiar p {
  width: 100px;
  margin: 0px;
  margin-top: 5px;
  margin-left: 5px;
  font-weight: bold;
}
.qtdApoiadores p{
  margin: 0px;
  margin-top: 5px;
}
.show-modal button{
  margin: 0px;
}
.show-modal button h5{
  color: #fff;
}