/* DESIGN DA PRÉVIA DOS MARCADORES */
.iw-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
}
.gm-style-iw {
  width: 175px !important;
  height: 245px;
}
#iw-container img.img-publicacao {
  width: 100%;
}
.qtdApoiadores {
  text-align: right;
  float: right;
}
.apoiar p {
  width: 90px;
  margin: 0px;
  margin-top: 5px;
}
.qtdApoiadores p{
  margin: 0px;
  margin-top: 5px;
}
.show-modal button{
  margin: 0px;
}
.show-modal button h5{
  color: #fff;
}