/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

#mapPostagens {
    width: 100%;
    height: 100%;
}


.float-button {
  border-radius: 5px;
  width: 90%;
  padding: 25px;
  font-size: 18px;
  background: #0c60ee;
  position: fixed;  
  bottom: 20px; 
  margin: 0 auto;
  left: 20px;
  right: 20px; 
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -10px; 
  color: #ffffff;
}

.menubar{
  height: 64px;
  background: #32a2a4;
}

.logo{
  width: 10px;
}
.col{
  text-align: center;
}
.descricaoPostagem h4{
  padding: 0px 0px 0px 10px;
}

.descricaoPostagem{
  position: static; 
} 

textarea{
  height: 50px;
}

.bar.bar-positive {
    background-color: #575756;
    border: none;
    color: #fff; 
}

#novaPostagem{
  background-color: #32a2a4;
  border-color:  #32a2a4;
  float: right;
}

.clr{
  clear: both;
}