/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}

.float-button {
  border-radius: 50%;
  width: 20px;
  padding: 30px;
  font-size: 40px;
  background: #0c60ee;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px; /* Note, this must be half the font size */
  color: #ffffff;
}

.menubar{
  height: 64px;
}

.logo{
  width: 10px;
}
.col{
  text-align: center;
}