<ion-view title="Alterar Senha">
    <ion-content overflow-scroll="true" padding="true" class="has-subheader">
        <form class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Senha Atual</span>
                 <input type="text" placeholder="appoie@appoie.com.br">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Nova Senha</span>
                 <input type="text" placeholder="">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Confirmar Nova Senha</span>
                 <input type="text" placeholder="">
            </label>
            <button  class="button button-balanced  button-block button-outline" ng-click="changeView('perfil')">SALVAR</button>
            <button  class="button button-assertive balanced  button-block button-outline" ng-click="changeView('perfil')">CANCELAR</button>
        </form>
    </ion-content>
</ion-view>