<ion-view class="tela_inicial">
        <ion-header-bar class="bar bar-header bar-dark">
          <h1 class="title">Cadastre-se</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancelar</button>
        </ion-header-bar>
    <ion-content>
      <div class="card padding">
        <div  class="logo-login">
          <img src="../img/logo.png" height="30" width="30" alt="">
          
        </div>
        <div  class="letra-logo">         
          <span>Appoie</span>
        </div>
             <div class="title-login">
                <label>FAÇA SEU CADASTRO</label>
            </div>
        <div class="card padding">
         <label class="item item-input">    
             <input type="text" placeholder="E-mail">
          </label>
            <label class="item item-input" >    
              <input type="password" placeholder="Senha">
            </label>
          <label class="item">                   
            <button class="button button-block button-balanced" ng-click="chamarMenu()">Cadastrar</
          </label>
        </div>
      </div>
    </ion-content>
</ion-view>