<ion-view view-title="Configurações">
    <ion-content class="exception has-subheader">
        
  <section class = "connection-exception">
        


       <div class="row row-center" >
          <div class="col text-center" >
               <i class="centerBigIcon ion-sad-outline"></i>
           </div>
       </div>
       
       <div class="row icon-row">

          <div class="col col-center">
                    <h1 class="text-white text-center">oh, não! </h1>
           <h4 class ="text-white text-center ">Parece que você não está conectado, por favor verifique a sua conexão e tente novamente.</h4>
           </div>
      </div>

    </section>


    </ion-content>
</ion-view>