<ion-view>
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
      
      <div class="float-text" ng-click="sucesso()">
        <span class="height-fixo">
          <a class="content">
              <i class="textoMapa"><h5>Por favor, arraste o marcador na localização do problema.</h5></i>
          </a>
        </span>
      </div>

      <div class="float-button" ng-click="sucesso()">
        <span class="height-fix">
          <a class="content">
              <i class="concluirPost ion-checkmark-round"></i>
          </a>
        </span>
      </div>
    </ion-content>
</ion-view> 