<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="headerBar">
      <ion-nav-buttons side="left">
        <div class="bar bar-header">
            <button id="menuLateral"class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
              <div class="img-logo-header">
                <span>
                  <img src="img/logo-escrita.png">
                </span>
              </div>
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>

  </ion-side-menu-content>

  <ion-side-menu side="left">

  <ion-side-menu side="left">
        <ion-header-bar class="menubar">
           <span class="logo"></span>
        </ion-header-bar>

        <ion-content class="stable-bg has-expanded-header">
            <ion-list>
                <ion-item id="fotoPerfil" class="item-avatar">
                  <img src="img/user-empty.png" menu-close ng-click="changeView('app.perfil')">
                  <div class="row">
                    <h2 id="nomeMenu"></h2>
                    <h2 id="sobrenomeMenu"></h2>
                  </div>
                  <div class="row">
                    <h4 id="cidadeMenu"></h4>
                    <h4 id="estadoMenu"></h4>
                  </div>
                </ion-item>

              <div class="side-options">
                <i class="ion-ios-location"></i>
                <span class="span" menu-close ng-click="changeView('app.postagens')">Publicações<i class="material-icons"></i></span>
              </div>

              <div class="side-options">
                <i class="icon ion-gear-a"></i>
              <span class="span">Configurações <i class="material-icons"></i></span>
              </div>

              <div class="side-options" ng-click="logout()">
                <i class="icon ion-log-out"></i>
              <span class="span">Sair <i class="material-icons"></i></span>
              </div>

            </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
