<ion-view title="Editar Perfil">
    <ion-content overflow-scroll="true" padding="true">
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>

        <form class="list">
            <label class="item item-input">
                <input id="nome" type="text" placeholder="Nome">
            </label>

            <label class="item item-input">
                <input id="sobrenome" type="text" placeholder="Sobrenome">
            </label>

            <label class="item item-input item-select">
                <span class="input-label">
                  Sexo
                </span>
                <select id="sexo">
                    <option value="MASCULINO">Masculino</option>
                    <option value="FEMININO">Feminino</option>
                    <option value="OUTROS">Outros</option>
                </select>
            </label>

            <label class="item item-input">
                 <span class="input-label">Data de Nascimento:</span>
               <input id="dataNascimento" type="date" value="2013-01-08">
            </label>

            <div class="row" padding="true">
                <div class="col">
                    <button class="button button-outline button-block button-positive" ng-click="changeView('alterarEmail')">
                        Alterar E-mail
                    </button>
                </div>
                
                <div class="col">
                    <button class="button button-outline button-block button-positive" ng-click="changeView('alterarSenha')">
                        Alterar Senha
                    </button>
                </div>
                
            </div>

            <div class="col">
                <button id="botaoSalvarPerfil" class="button button-balanced  button-block button-outline">SALVAR</button>
            </div>
            

        </form>
    </ion-content>
</ion-view>