<ion-view cache-view="false">

    <ion-content on-refresh="doRefresh()">
      <div id="mapPostagens" data-tap-disabled="true"></div>

      <div id="button-postagens" class="float-button" ng-click="inserirPostagem()">
        <span class="height-fix">
         <a ui-sref="add-trip" class="content">
            <i class="ion-plus-round"> </i>
          </a>
        </span>
      </div>
    </ion-content>

    <script id="modalPublicacao.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar id="headerBarPublicacaoDetalhada"class="bar bar-header bar-dark">
          <h1 class="title">Detalhes</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Voltar</button>
        </ion-header-bar>
        <ion-content class=has-header>
          <div class="card">
            <div class="item categoriaDetalhada">
                <h2>{{postMax.titulo}}</h2>
                <div class="fotoDetalhada item-image">
                  <img ng-src="{{postMax.fotos[0].foto}}">
                </div>
                <p><span>Categoria: </span>{{postMax.categoria}}</p>
                <p><span>Cidade: </span>{{postMax.cidade}}</p>
                <p><span>Criticidade: </span>{{postMax.criticidade}}</p>
                <div id="descricaoDetalhe">
                  <p><span>Descrição: </span>{{postMax.descricao}}</p>
                </div>
            </div>
            <div class="item infoDetalhada">
                <h2>Postado por:</h2>
                <ion-item class="usuario item-avatar">
                  <img src="img/blankprofile.png">
                  <h2>{{postMax.usuario}} {{postMax.sobrenomeUsuario}}</h2>
                  <p id="dataPublicacaoDetalhada">{{postMax.dataPublicacao | date: 'dd/MM/yyyy'}}</p>
                </ion-item>
            </div>
          </div>

          </div>
        </ion-content>
      </ion-modal-view>
    </script>

</ion-view>
