<ion-view>
    <ion-content>
        <div class="card">
            <form name="publicacao">
                <div class="item item-image miniatura">
                    <img ng-src="{{foto}}" ng-model="postagem.foto" width="100%" height="60%">
                </div>
                <div class="descricaoPostagem">
                    <label class="item item-input item-select">
                        <div class="input-label">
                          Categoria
                        </div>
                        <select ng-model="post.categoria">
                            <option selected>Arborização</option>
                            <option>Iluminacao</option>
                            <option>Pavimentação</option>
                            <option>Segurança</option>
                            <option>Trânsito</option>
                        </select>
                    </label>                   
                    <label class="item item-input">
                        <input type="text" placeholder="Título" ng-model="post.titulo">
                    </label>
                    <label class="item item-input">
                        <textarea placeholder="Descrição do problema" ng-model="post.descricao"></textarea>
                    </label>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button button-block button-stable" ng-click="">
                            Cancelar
                        </button>    
                    </div><div class="col">
                        <button class="button button-block button-dark" ng-click="adicionarMarker(post)">
                            Avançar
                        </button>    
                    </div>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>